.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
  }
  
  .title {
    margin-bottom: 20px;
    font-weight: 200;
    color: var(--textSoft);
  }
  
  .table {
    width: 100%;
  }
  
  .table td {
    padding: 10px;
  }
  
  .user {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .userImage {
    object-fit: cover;
    border-radius: 50%;
  }
  
  .status {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
  }
  
  .pending {
    background-color: #f7cb73b3; /* translucent yellow */
  }
  
  .done {
    background-color: #afd6ee; /* soft blue */
  }
  
  .cancelled {
    background-color: #f77373; /* soft red */
  }
  