.cardWrapper {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    margin: 20px 0;
  }
  
  .container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    flex: 1;
    transition: background-color 0.3s ease;
  }
  
  .container:hover {
    background-color: #2e374a;
  }
  
  .texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .title {
    font-size: 16px;
    font-weight: 600;
  }
  
  .number {
    font-size: 24px;
    font-weight: 500;
  }
  
  .detail {
    font-size: 14px;
    font-weight: 300;
  }
  
  .positive {
    color: lime;
  }
  
  .negative {
    color: red;
  }
  